.content {
  width: 80%;
  margin: 0 auto;
  padding: 8em 2rem 0;
  font-family: sans-serif;
  color: #f3f7a8;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-word;

  a {
    color: #f3f7a8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
