.marquee {
  width: 100%;
  padding-top: 4em;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  bottom: 0;

  span {
    font-family: 'Thunder';
    font-weight: 700;
    color: #2ab75b;
    font-size: min(40vw, 28em);
    text-transform: uppercase;
    display: inline-block;
    animation: marquee-animation 80s linear infinite;
  }
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
