#celeste {
  background-color: #444;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;

  .header {
    display: none;
  }

  h1 {
    font-family: system-ui;
    font-size: min(8vw, 5rem);
    text-align: center;
    color: #fff;
  }
}
