#celeste {
  background-color: var(--token-bg);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;

  header {
    display: none;
  }

  h1 {
    font-family: var(--f-display);
    font-size: var(--t-display);
    text-align: center;
    color: var(--token-text);
  }
}
