.content {
  padding: 14vh 0 2rem;
  font-family: sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-word;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
